<br>

<div class="container">
	<div class="row">{{!-- pills  tabs --}}
		<ul class="nav nav-tabs" id="nav" data-active="{{active}}">
		    <li><a href="/admin/home">HOME</a></li>
		    <li><a href="/admin/article">文章上传</a></li>
		 	<li><a href="/admin/article/list">文章列表</a></li>
		 	<li><a href="/admin/demo">demo上传</a></li>
		 	<li><a href="/admin/demo/list">demo列表</a></li>
		 	<li class="pull-right">
		 		<button id="logout" class="btn btn-warning">退出</button>
		 	</li>
		</ul>
	</div>
</div>