
<div id="about" page class="page">
	<section>
		<div class="img">
			<img src="/img/touxiang.jpg">
		</div>
		<p>90后天蝎男，web前端攻城狮，js全栈开发尝试者</p>
		<div class="href-wrap">
			<a href="https://github.com/yangsendyx" title="github" target="_blank">
				<span class="iconfont">&#xe609;</span>
			</a>
			<a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=MUhQX1ZCVF9VSElxQEAfUl5c" title="email" target="_blank">
				<span class="iconfont">&#xe60a;</span>
			</a>
			<a href="tencent://message/?uin=405287342&Site=www.yshome.net.cn&Menu=yes" title="qq" target="_blank">
				<span class="iconfont">&#xe608;</span>
			</a>
		</div>
	</section>
	<section site-summary>
		<p>本站前端采用<a href="https://angularjs.org/" target="_blank"> Angular.js </a>实现单页面架构，动画效果的实现则交由<a href="https://github.com/yangsendyx/ys-Animate" target="_blank"> ys-Animate </a>服务负责</p>
		<p>后台采用的方案是时下流行的<a href="https://nodejs.org/" target="_blank"> nodeJS </a> + <a href="https://www.mongodb.org/" target="_blank"> mongoDB </a>的组合，配合<a href="http://expressjs.com/" target="_blank"> Express </a>框架搭成了ys-Home的后台服务</p>
		<p><a class="btn" href="https://github.com/yangsendyx/blog" target="_blank">整站源码下载</a></p>
	</section>
</div>