<div id="about" page class="page">
	<section>
		<div class="img">
			<img src="/img/touxiang.jpg">
		</div>
		<p>90后天蝎男，web前端攻城狮，js全栈开发者</p>
		<div class="href-wrap">
			<a href="https://github.com/yangsendyx" title="github" target="_blank">
				<span class="iconfont">&#xe609;</span>
			</a>
			<a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=MUhQX1ZCVF9VSElxQEAfUl5c" title="email" target="_blank">
				<span class="iconfont">&#xe60a;</span>
			</a>
			<a href="tencent://message/?uin=405287342&Site=www.yshome.net.cn&Menu=yes" title="qq" target="_blank">
				<span class="iconfont">&#xe608;</span>
			</a>
		</div>
	</section>
	<section site-summary>
		<p>前端基于<a href="https://angularjs.org/" target="_blank"> Angular.js </a>(PC端)及<a href="https://facebook.github.io/react/" target="_blank"> React.js </a>(移动端) 实现</p>
		<p>后台则由<a href="https://nodejs.org/" target="_blank">Node.js</a> + <a href="http://expressjs.com/" target="_blank">Express</a>框架搭建，数据库为<a href="https://www.mongodb.org/" target="_blank">MongoDB</a></p>
		<p>
			<!-- <a class="btn" href="https://github.com/yangsendyx/blog" target="_blank">整站源码下载</a> -->
			<a class="btn" href="https://github.com/yangsendyx/blog" target="_blank">后端+PC端源码</a>
			<a class="btn" href="https://github.com/yangsendyx/blog-mobile" target="_blank">移动端源码</a>
		</p>
	</section>
</div>
