
<div id="note-list" page class="page">
	<div class="box-wrap" opacity-box>
		<div class="box" bindonce ng-repeat="o in data.list">
			<a href="javascript:;" ng-click="toggle('note', o._id)">
				<div class="title">
					<h3 ng-bind="o.title"></h3>
				</div>
				<div class="body">
					<p ng-bind="o.desc"></p>
				</div>
				<div class="foot">
					<div class="type">{{ o.type}}</div>
					<div class="time">{{ o.meta.updateAt | initTime }}</div>
				</div>
			</a>
		</div>
	</div>

	<div class="paging-wrap">
		<span bindonce ng-repeat="o in data.paging" class="{{o.active ? 'active' : ''}}"
		ng-click="fnpaging(o.page)">{{o.text}}</span>
	</div>
</div>

<div class="tag-wrap" note-tags>
	<div class="title">
		<p>标签</p>
	</div>
	<hr>
	<div class="tag {{o.active ? 'active' : ''}}" bindonce ng-repeat="o in data.category" ng-click="tagFilter(o)">
		<span class="triangle"></span>
		<span class="doc"></span>
		<span class="text">{{o.name}}</span>
		<span class="num">{{o.length}}</span>
	</div>
</div>
