@import 'compass';

// resize
body, ul{
	margin: 0;
	padding: 0;
}
body{
	font-family: '微软雅黑';
	opacity: 0;
}
ul {
	list-style: none; 
}

@font-face {
	font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

// 背景canvas
canvas{
	position: fixed;
	width: 100%;
	// -webkit-filter: blur(2px);
}

.wrap {
	position: relative;
	zindex: 2;
	overflow-x: hidden;
}

// 导航
#nav {
	position: fixed;
	z-index: 5;
	top: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	opacity: 0;
	@include box-shadow(#333 0 0 10px);
	@include background-image(linear-gradient(rgba(255,255,255,.92), rgba(187,187,187,.92)));
	@include transition(opacity .4s);
	.bar{
		width: 100%;
		height: 2px;
		background: #f90;
	}

	ul {
		width: 1024px;
		margin: 0 auto;
		height: 48px;
		@include legacy-pie-clearfix();

		li {
			cursor: pointer;
			padding: 0 25px;
			color: #555;
			font-weight: bold;
			@include float(left);
			@include transition(all .4s);

			&:hover {
				color: #f60;
				@include text-shadow(4px 4px 4px #777);
			}
		}
		.active {
			color: #f60;
			@include text-shadow(2px 2px 4px #aaa);
		}
	}
}
// 导航占位
.navpos{
	height: 50px;
	width: 100%;
}

// loading
#loading{
	width: 200px;
	height: 200px;
	position: fixed;
	left: 50%;
	margin-left: -130px;
	z-index: 10;
	display: none;
	@include border-radius(16px);
	@include box-shadow(0 0 16px #333);
	@include background-image( linear-gradient(rgba(255,255,255,.7), rgba(170,170,170,.7)) );

	.circle {
		width: 70%;
		height: 70%;
		border: 4px solid #555;
		position: absolute;
		top: 15%;
		left: 15%;
		@include box-sizing(border-box);
		@include border-radius(50%);

		.doc {
			position: absolute;
			display: inline-block;
			width: 10%;
			height: 10%;
			background: #555;
			top: -6%;
			left: 45%;
			@include box-sizing(border-box);
			@include border-radius(10px);
		}
	}
}

// sign-in
#signIn {
	width: 300px;
	@include background-image( linear-gradient(rgba(255, 255, 255, 1), rgba(187, 187, 187, 1)) );
	position: fixed;
	left: 50%;
	margin-left: -150px;
	z-index: 5;
	@include border-radius(20px);
	@include box-shadow(0 0 10px #333);
	padding: 15px 0;
	text-align: center;
	div{
		font-size: 14px;
		height: 26px;
		width: 70%;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		input{
			width: 100%;
			height: 26px;
			outline: none;
			box-sizing: border-box;
			padding-left: 12px;
			border: 1px solid #ccc;
			@include transition(all .4s);
			background-color: #eee;
			&:focus{
				@include box-shadow(0 0 10px #aaa);
			}
		}
		.btn{
			display: inline-block;
			width: 60px;
			height: 26px;
			line-height: 26px;
			cursor: pointer;
			@include transition(all .3s);
			&:nth-of-type(1){
				margin-right: 5px;
			}
			&:nth-of-type(1){
				margin-left: 5px;
			}
			&:hover{
				background: #666;
				color: #eee;
				@include box-shadow(0 0 6px #333);
			}
		}
	}
	p{
		&:nth-of-type(2) {
			font-size: 12px;
			color: #666;
		}
	}
}

// dialog
#dialog {
	position: fixed;
	width: 200px;
	left: 50%;
	margin-left: -120px;
	top: 50%;
	z-index: 10;
	text-align: center;
	padding: 10px 20px;
	opacity: 0;
	font-size: 14px;
	color: #555;
	@include background-image( linear-gradient(rgba(255, 255, 255, 1), rgba(187, 187, 187, 1)) );
	@include box-shadow(0 0 10px #333);
	@include border-radius(16px);
}

// index
#index {
	position: relative;
	width: 100%;
	overflow: hidden;
	section{
		width: 180px;
		height: 230px;
		position: absolute;
		top: 50%;
		left: 50%;
		cursor: pointer;

		&:nth-of-type(1) {
			div.skew{
				background-color: #f6c;
			}
			margin-left: -275px;
			margin-top: -116px;
		}
		&:nth-of-type(2) {
			div.skew{
				background-color: #f90;
			}
			margin-left: -58px;
			margin-top: -235px;
		}
		&:nth-of-type(3) {
			div.skew{
				background-color: #6cf;
			}
			margin-left: 95px;
			margin-top: -116px;
		}
		&:nth-of-type(4) {
			div.skew{
				background-color: #7efdd8;
			}
			margin-left: -121px;
			margin-top: 0px;
		}
		
		>div {
			width: 100%;
			height: 100%;
		}

		div.skew{
			opacity: .8;
			@include transition(opacity .4s);
			@include box-shadow(0 0 10px #333);
			@include transform( skew(-15deg, 0deg) );
		}

		div.content {
			width: 76%;
			left: 10%;
			top: 0;
			position: absolute;
			font-size: 36px;
			color: #555;
			
			div.iconfont, p.text {
				position: absolute;
				width: 100%;
				text-align: center;
				@include transition(all .3s);
			}

			div.iconfont {
				font-size: 76px !important;
				margin-top: 70px;
			}
			p.text {
				margin: 0;
				opacity: 0;
				bottom: 50px;
			}
			
		}
		
		&:hover .skew{
			opacity: 1;
		}
		&:hover div.iconfont, &:hover p.text {
			color: #333;
		}
		&:hover div.iconfont{
			@include transform( translate(0, -30px) );
		}
		&:hover p.text {
			opacity: 1 !important;
		}
	}
}

.page {
	margin: 20px auto 0;
	width: 1024px;
}

#note-list {
	.box-wrap{
		@include pie-clearfix();
		.box{
			float: left;
			width: 31%;
			margin-left: 1%;
			margin-right: 1%;
			margin-bottom: 4%;
			@include box-shadow(0 0 10px #555);
			@include transition(all, .3s);
			&:hover {
				@include box-shadow(0 0 20px #000);
			}
			a{
				text-decoration: none;
			}
			.title{
				height: 38px;
				background: rgba(255, 255, 255, .85);
				h3{
					margin: 0;
					line-height: 38px;
					text-align: center;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					color: #333;
				}
			}
			.body {
				height: 260px;
				background: rgba(150, 150, 150, .85);
				color: #ddd;
				p{
					margin: 0;
					box-sizing: border-box;
					line-height: 28px;
					padding: 6px 10px;
					text-indent: 36px;
					word-wrap: break-word;
					word-break: normal;
				}
			}
			.foot{
				height: 36px;
				line-height: 36px;
				background: rgba(255, 255, 255, .85);
				@include pie-clearfix();
				> *{
					color: #555;
				}
				.type{
					float: left;
					margin-left: 10px;
				}
				.time{
					float: right;
					margin-right: 10px;
				}
			}
		}
	}
	.paging-wrap {
		height: 56px;
		@include background-image( linear-gradient(rgba(255, 255, 255, .85), rgba(187, 187, 187, .85)) );
		text-align: center;
		@include border-radius(5px);
		@include box-shadow(0 0 10px #333);
		span {
			display: inline-block;
			margin-left: 22px;
			&:last-child {
				margin-right: 22px;
			}
			margin-top: 13px;
			padding: 4px 14px;
			cursor: pointer;
			@include background-image( linear-gradient(rgba(180, 180, 180, 1), rgba(140, 140, 140, 1)) );
			color: #fff;
			@include border-radius(2px);
			@include box-shadow(0 1px 2px #333);
			&:hover {
				@include background-image( linear-gradient(rgba(190, 190, 190, 1), rgba(150, 150, 150, 1)) );
			}
		}
		span.active {
			@include background-image( linear-gradient(rgba(160, 160, 160, 1), rgba(120, 120, 120, 1)) );
			@include box-shadow(0 1px 10px #333 inset);
			cursor: default;
			@include border-radius(4px);
			&:hover {
				@include background-image( linear-gradient(rgba(160, 160, 160, 1), rgba(120, 120, 120, 1)) );
			}
		}
	}
}
.tag-wrap{
	position: absolute;
	width: 200px;
	top: 70px;
	opacity: 0;
	@include pie-clearfix();
	background-color: rgba(255,255,255,.85);
	@include box-shadow(0 0 10px #333);
	padding-bottom: 16px;
	p {
		@include box-sizing(border-box);
		padding-left: 26px;
	}

	hr {
		border-color: #eee;
		background: #eee;
	}

	.tag{
		float: left;
		margin: 6px 2px;
		cursor: pointer;
		position: relative;
		&:hover .triangle{
			border-color: transparent #555 transparent transparent;
		}
		&:hover .text, &:hover .num{
			color: #fff;
			background: #555;
		}
		span{
			display: inline-block;
			float: left;
			font-size: 13px;
		}
		.triangle{
			border-width: 12px;
			border-style: solid;
			border-color: transparent #aaa transparent transparent;
			@include transition(all .3s);
		}
		.text {
			height: 24px;
			line-height: 24px;
			padding-left:10px;
			background: #aaa;
			@include transition(all .3s);
		}
		.num {
			height: 24px;
			line-height: 24px;
			color: #555;
			background: #aaa;
			padding: 0 6px;
			font-size: 12px;
			@include transition(all .3s);
		}
		.doc{
			position: absolute;
			width: 4px;
			height: 4px;
			left: 20px;
			top: 10px;
			background: #ccc;
			@include border-radius(50%);
		}
	}
	.active{
		cursor: default;
	}
	.active .triangle{
		border-color: transparent #de9638 transparent transparent !important;
	}
	.active .text {
		color: #fff !important;
		background: #de9638;
	}
	.active .doc {
		background: #fff;
	}
	.active .num {
		color: #ddd !important;
		background: #de9638;
	}
	.active:hover .triangle {
		border-color: transparent #de9638 transparent transparent !important;
	}
	.active:hover .text, .active:hover .num{
		background: #de9638;
	}
	.active:hover .text{
		color: #fff !important;
	}
	.active:hover .num{
		color: #ddd !important;
	}
}
.tag-wrap.tag-fix {
	position: fixed;
	top: 55px !important;
}

#note {
	.article {
		padding: 30px 0;
		@include box-shadow(0 0 10px #333);
		background-color: rgba(255,255,255,.85);
		.title{
			text-align: center;
			p{
				font-size: 14px;
				color: #888;
			}
		}
		.body {
			margin-top: 20px;
			box-sizing: border-box;
			padding: 10px 30px;
			code {
				font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
				font-size: 14px;
				max-width: 100%;
				display: block;
				/* word-wrap: break-word;
				word-break: normal; */
				overflow: auto;
			}
			a{
				text-decoration: none;
				color: #057cd7;
				&:hover {
					text-decoration: underline;
				}
			}
			p.avow {
				line-height: 22px;
				font-size: 14px;
				background-color: rgba(240,240,240,.85);
				padding: 10px 20px;
				border: 1px solid rgba(200,200,200,.85);
				@include border-radius(5px);
			}
			p{
				// text-indent: 30px;
				margin: 26px 0;
				line-height: 30px;
				code {
					padding: 2px 6px;
					background-color: rgba(220,220,220,.6);
					color: #c42e05;
					border: 1px solid #bbb;
					@include border-radius(2px);
					font-size: 16px;
					margin-left: 4px;
					margin-right: 4px;
					display: inline-block;
				}
			}
			img{
				max-width: 100%;
				vertical-align: top;
				margin: auto;
				@include box-shadow(0 0 6px #333);
			}
			pre{
				margin: 26px 0;
				padding: 10px;
				background-color: rgba(220,220,220,.6);
				border: 1px solid #bbb;
				max-width: 100%;
				@include border-radius(4px);
			}
			table{
				$border-color: #aaa;
				$opacity: .65;
				margin: 26px 0;
				color:#333;
				border-width: 1px;
				border-color: $border-color;
				border-collapse: collapse;
				font-size: 14px;
				thead{
					tr{
						background-color: rgba(240,240,240,$opacity);
						th{
							border-width: 1px;
							padding: 8px;
							border-style: solid;
							border-color: $border-color;
						}
					}
				}
				tbody{
					tr{
						&:nth-child(odd) {
							background-color: rgba(220,220,220,$opacity);
						}
						&:nth-child(even) {
							background-color: rgba(240,240,240,$opacity);
						}
						td{
							border-width: 1px;
							padding: 8px;
							border-style: solid;
							border-color: $border-color;
								
						}
					}
				}
			}
			ul, ol{
				padding-left:30px;
				list-style-position: outside;
				margin: 26px 0;
				ul, ol{ margin: 0; }
			}
			ul{ list-style-type: disc;}
			ol { list-style-type: decimal;}
		}
	}
	.comment {
		@include box-shadow(0 0 10px #333);
		background-color: rgba(255, 255, 255, .8);
		padding: 30px 0;
		margin-top: 50px;
		margin-bottom: 30px;
		> *{
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
		.text{
			@include legacy-pie-clearfix();
			textarea {
				resize: none;
				height: 180px;
				width: 100%;
				border: 1px solid #eee;
				background-color: rgba(255,255,255,.85);
				outline: none;
				box-sizing: border-box;
				padding: 20px;
				@include transition(all .3s);
				// @include box-shadow(0 0 4px #555);
				background-color: rgba(255,255,255,.75);
				&:focus {
					@include box-shadow(0 0 10px #333);
				}
			}
			.commentInfo{
				display: inline-block;
				margin-top: 20px;
				padding-left: 30px;
				color: #999;
				font-size: 14px;
			}
			.button{
				padding: 8px 14px;
				color: #fff;
				text-align: center;
				margin-top: 10px;
				display: inline-block;
				float: right;
				cursor: pointer;
				@include border-radius(4px);
				@include box-shadow(0 1px 2px #333);
				&:nth-of-type(1) {
					@include background-image( linear-gradient(rgba(81, 112, 145, .85), rgba(61, 92, 125, .85)) );
					&:hover {
						@include background-image( linear-gradient(rgba(101, 132, 165, .85), rgba(81, 112, 145, .85)) );
					}
				}
				&:nth-of-type(2) {
					margin-right: 16px;
					@include background-image( linear-gradient(rgba(110, 131, 35, .85), rgba(90, 111, 15, .85)) );
					&:hover {
						@include background-image( linear-gradient(rgba(130, 151, 55, .85), rgba(110, 131, 35, .85)) );
					}
				}
			}
		}
		.reply{
			margin-top: 40px;
			border-top: 1px solid #aaa;
			.box{
				margin-top:  10px;
				padding: 10px 0 30px;
				border-bottom: 1px solid #aaa;
				@include legacy-pie-clearfix();
				.img{
					margin-top: 10px;
					float: left;
					width:  15%;
					text-align: center;
					img{
						vertical-align: top;
						width: 50%;
						@include border-radius(10px);
						@include box-shadow(0 2px 6px #555);
					}
				}
				.info-wrap{
					float: left;
					width: 85%;
					.title{
						height: 36px;
						line-height: 36px;
						border-bottom: 1px solid rgba(180, 180, 180, .5);
						span{
							color: #888;
							display: inline-block;
						}
						.time{
							margin-left: 20px;
						}
						.commentBtn{
							float: right;
							margin-right: 20px;
							color: #555;
							cursor: pointer;
						}
					}
					.body{
						padding-top: 15px;
					}
					.replyBox{
						margin-top: 20px;
						margin-left: -30px;
						border-top: 1px solid rgba(180, 180, 180, .8);
						.box{
							border:none;
							padding-bottom: 0;
						}
					}
				}
			}
		}
	}
}

#demo {
	.pubul-wrap{
		@include legacy-pie-clearfix();
		section {
			width: 31%;
			float: left;
			margin: 2% 1%;
			
			.box{
				width: 100%;
				box-sizing: border-box;
				position: relative;
				margin-top: 30px;
				background-color: rgba(255, 255, 255, .85);
				@include transition(all, .4s);
				overflow: hidden;
				img{
					width: 100%;
					vertical-align: top;
					border-width: 0;
				}
				.time{
					position: absolute;
					right: 10px;
					top: 6px;
					font-size: 14px;
					opacity: 0;
					color: #fff;
					padding: 0 6px;
					background-color: rgba(0,0,0,.3);
					@include transform( translate(100px, 0) );
					@include transition(all, .4s);
				}
				.text{
					$height: 60px;
					text-align: center;
					position: relative;
					height: $height;
					* {
						width: 100%;
						position: absolute;
						margin: 0;
						line-height: $height;
						@include transition(opacity .4s);
					}
					p{
						opacity: 0;
						font-size: 14px;
					}
				}
				a{
					color: #333;
					text-decoration: none;
				}
				@include box-shadow(0 0 10px #555);
				&:hover{
					@include box-shadow(0 0 20px #000);
				}
				&:hover .text h3{
					opacity: 0;
				}
				&:hover .text p{
					opacity: 1
				}
				&:hover .time{
					opacity: 1;
					@include transform( translate(0, 0) );
				}
			}
		}
	}
}

#message {
	@include legacy-pie-clearfix();
	section{
		float: left;
		box-sizing: border-box;
		padding: 0 10px;
		&:nth-of-type(1) {
			width: 60%;
			.msgWrap{
				position: relative;
				box-sizing: border-box;
				padding: 16px 0;
				.line{
					width: 2px;
					height: 100%;
					top: 6px;
					position: absolute;
					left: 30px;
					@include background-image( linear-gradient(rgba(187, 187, 187, .85), rgba(255, 255, 255, .85)) );
				}
				ul{
					padding: none;
					margin: none;
					width: 92%;
					margin-left: 32px;
					overflow: hidden;
					li {
						&:last-child{
							margin-bottom: 10px;
						}
						&:first-child{
							margin-top: 20px;
						}
						width: 95%;
						margin-top: 50px;
						margin-left: 14px;
						position: relative;
						.reply{
							margin-top: 15px;
							position: relative;
							margin-left: 26px;
							.triangle{
								display: inline-block;
								width: 0;
								height: 0;
								position: absolute;
								border-width: 10px;
								border-style: solid;
								border-color: transparent transparent rgba(255,255,255,.85) transparent;
								top: -20px;
								left: 100px;
							}
						}
						.img{
							position: absolute;
							width: 80px;
							height: 80px;
							top: -10px;
							@include box-shadow(0 0 6px #333);
							box-sizing: border-box;
							@include border-radius(50%);
							border: 4px solid #fff;
							overflow: hidden;
							img{
								width: 100%;
								height: 100%;
								vertical-align: top;
								border-width: 0;
								@include border-radius(50%);
							}
						}
						.info-wrap{
							@include box-shadow(0 0 10px #333);
							margin-top: 10px;
							margin-left: 30px;
							@include transition(all .4s);
							@include border-radius(5px);
							overflow: hidden;
							&:hover{
								@include box-shadow(0 0 15px #333);
							}
						}
						.title{
							padding-left: 70px;
							box-sizing: border-box;
							height: 42px;
							line-height: 42px;
							background: rgba(255, 255, 255, .85);
							span{
								display: inline-block;
							}
							.name{
								font-size: 14px;
							}
							.time{
								margin-left: 6px;
								font-size: 12px;
								color: #999;
							}
							.comment{
								float: right;
								margin-right: 15px;
								cursor: pointer;
							}
						}
						.body{
							box-sizing: border-box;
							padding: 15px 15px 15px 70px;
							background-color: rgba(170, 170, 170, .85);
							color: #eee;
							font-size: 14px;
						}
					}
				}
			}
			$height: 46px;
			.bar{
				width: 100%;
				height: $height;
				position: relative;
				@include background-image( linear-gradient(rgba(255, 255, 255, 1), rgba(187, 187, 187, 1)) );
				@include border-radius(5px);
				@include box-shadow(0 0 10px #333);
				.triangle{
					display: inline-block;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 16px;
					position: absolute;
					left: 15px;
				}
			}
			.top{
				.triangle{
					top: 100%;
					border-color: rgba(187,187,187,1) transparent transparent transparent;
				}
				p {
					line-height: $height;
					padding-left: 50px;
				}
			}
			.bot{
				.triangle{
					top: -31px;
					border-color: transparent transparent rgba(255,255,255,1) transparent;
				}
				.page-btn-wrap{
					height: 100%;
					text-align: center;
					span {
						display: inline-block;
						padding: 4px 10px;
						@include background-image( linear-gradient(rgba(180, 180, 180, 1), rgba(140, 140, 140, 1)) );
						margin-left: 8px;
						color: #fff;
						font-size: 14px;
						cursor: pointer;
						margin-top: 10px;
						@include box-shadow(0 1px 2px #333);
						@include border-radius(2px);
						&:hover {
							@include background-image( linear-gradient(rgba(190, 190, 190, 1), rgba(150, 150, 150, 1)) );
						}
					}
					span.active{
						@include background-image( linear-gradient(rgba(160, 160, 160, 1), rgba(120, 120, 120, 1)) );
						@include box-shadow(0 1px 10px #333 inset);
						cursor: default;
						&:hover {
							@include background-image( linear-gradient(rgba(160, 160, 160, 1), rgba(120, 120, 120, 1)) );
						}
					}
				}
			}
		}
		&:nth-of-type(2) {
			width: 40%;
			padding-top: 15px;
			.wrap {
				@include box-shadow(0 0 16px #333);
				@include border-radius(5px);
				overflow: hidden;
				.title{
					background-color: rgba(255,255,255,.85);
					height: 46px;
					box-sizing: border-box;
					padding-left: 30px;
					line-height: 46px;
					.info{
						color: #999;
						float: right;
						margin-right: 20px;
						font-size: 14px;
					}
				}
				.body{
					height: 330px;
					background-color: rgba(180,180,180,.85);
					textarea {
						box-sizing: border-box;
						resize: none;
						width: 90%;
						height: 70%;
						margin: 5%;
						padding: 5px 10px;
						font-size: 16px;
						outline: none;
						background-color: rgba(255,255,255,.55);
						border: 1px solid #ccc;
						@include transition(all .3s);
						&:focus{
							@include box-shadow(0 0 10px #333);
						}
					}
					.btnwrap{
						@include legacy-pie-clearfix();
						.button{
							float: right;
							padding: 8px 14px;
							color: #fff;
							cursor: pointer;
							margin-right: 16px;
							@include box-shadow(0 1px 2px #333);
							@include border-radius(4px);
							&:nth-of-type(1){
								@include background-image( linear-gradient(rgba(81, 112, 145, .85), rgba(61, 92, 125, .85)) );
								&:hover {
									@include background-image( linear-gradient(rgba(101, 132, 165, .85), rgba(81, 112, 145, .85)) );
								}
							}
							&:nth-of-type(2){
								@include background-image( linear-gradient(rgba(110, 131, 35, .85), rgba(90, 111, 15, .85)) );
								&:hover {
									@include background-image( linear-gradient(rgba(130, 151, 55, .85), rgba(110, 131, 35, .85)) );
								}
							}
						}
					}
				}
			}
		}
		.fix {
			position: fixed;
			top: 0;
		}
	}
}

#about {
	section{
		&:nth-of-type(1) {
			text-align: center;
			.img{
				margin: 200px auto 0;
				width: 260px;
				height: 260px;
				box-sizing: border-box;
				border: 6px solid rgb(220,220,220);
				@include border-radius(50%);
				overflow: hidden;
				@include transition(all .4s);
				img{
					width: 100%;
					height: 100%;
					@include border-radius(50%);
				}
				&:hover {
					@include transform( rotate(360deg) );
				}
			}
			p{
				margin: 30px auto;
				color: #eee;
				font-size: 22px; 
			}
			.href-wrap{
				margin-top: 10px;
				a{
					display: inline-block;
					width: 100px;
					height: 100px;
					border: 2px solid rgba(230,230,230,.8);
					@include border-radius(50%);
					color: rgba(230,230,230,.8);
					text-decoration: none;
					margin: 0 20px;
					@include transition(all .3s);
					span{
						font-size: 60px;
						line-height: 100px;
					}
					&:hover {
						color: rgba(255,255,255,1);
						border-color: rgba(255,255,255,1);
					}
				}
			}
		}
		&:nth-of-type(2) {
			margin: 260px 0;
			p{
				text-align: center;
				margin: 30px;
				color: #eee;
				font-size: 20px;
				a{
					text-decoration: none;
					color: #f90;
				}

				a.btn {
					display: inline-block;
					color: #eee;
					height: 46px;
					padding: 0 20px;
					line-height: 46px;
					@include border-radius(10px);
					@include box-shadow(0 0 6px #333);
					@include background-image( linear-gradient(rgba(187, 187, 187, .85), rgba(120, 120, 120, .85)) );
					&:hover {
						@include background-image( linear-gradient(rgba(200, 200, 200, .85), rgba(133, 133, 133, .85)) );
						color: #fff;
					}
				}
			}
		}
	}
}

#footer {
	width: 100%;
	background: #555;
	// height: 130px;
	margin-top: 20px;
	.wrap{
		width: 1024px;
		margin: 0 auto;
		color: rgba(220,220,220,.85);
		font-size: 14px;
		padding-top: 10px;
		.summary{
			box-sizing: border-box;
			float: left;
			width: 60%;
			padding: 0 16px;
		}
		.href{
			box-sizing: border-box;
			float: left;
			width: 40%;
			padding: 0 16px;
			ul{
				margin: 20px 0;
				@include legacy-pie-clearfix();
				li{
					float: left;
					margin-left: 10px;
					cursor: pointer;
					@include transition(all .3s);
					padding: 4px 8px;
					@include border-radius(2px);
					&:hover {
						color: rgba(60,60,60,.85);
						background-color: rgba(220,220,220,.85);
						@include box-shadow(0 0 4px #000);
					}
				}
			}
		}
		.line{
			clear: both;
			width: 100%;
			height: 1px;
			background-color: #666;
		}
		.text{
			text-align: center;
		}
	}
}