
{{!-- {{> nav}} --}}

<div class="container">
	<div class="row">
		<h3 class="col-md-12 alert alert-danger">抱歉，该页面未找到，链接已失效。</h3>
	</div>
</div>

{{#section 'script'}}
<script type="text/javascript">
	$('title').html('404 - Page Not Found.');
</script>
{{/section}}